<h1>Bands</h1>
<% if @bands.empty? %>
  <h3>You don't have any bands! Add some below.</h3>
<% else %>
  <ul>
    <% @bands.each do |band| %>
      <li>
        <form class="form-inline" action="/bands/<%= band.id %>/delete" method="post">
          <label><a href="/bands/<%= band.id %>"><%= band.name %></a></label>
          <input type="hidden" name="_method" value="delete">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
<% end %>
<form action="/bands/add" method="post">
  <div class="form-group">
    <input class="form-control" type="text" name="name" placeholder="Band Name">
  </div>
  <button class="btn btn-primary btn-sm" name="button">Add</button>
</form>
